<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/portfolio?serverTimezone=CET</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Abteilung" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Adresse" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Bueroausstattung" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Hersteller" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Land" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Mitarbeiter" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.MitarbeiterEquipment" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Raum" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Standort" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Status" />
		<mapping class="DatenbankenPortfolio.HibernateProjekt.PersistenceClasses.Typ" />
	</session-factory>
</hibernate-configuration>